.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loading::before,
.loading::after{
    content: '';
    background-color: #0A1B2B;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 1s;
}

.loading::before{
    bottom: 0;
}

.loading::after{
    top: 0;
}

.endLoading::before{
    bottom: -60%;
}

.endLoading::after{
    top: -60%;
}